.animate-left {
    position: relative;
    animation: animateLeft 0.4s;
}

@keyframes animateLeft {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.animate-right {
    position:relative;
    animation:animateRight 0.4s
}

@keyframes animateRight{
     from{
         right:-300px;
         opacity:0
     }

     to{
        right:0;
         opacity:1
     }
}