.slide-in {
    backface-visibility: hidden;
}

.animate-left {
    position: relative;
    animation: animateLeft 1s;
}

@keyframes animateLeft {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.animate-right {
    position:relative;
    animation:animateRight 1s
}

@keyframes animateRight{
     from{
         right:-100%;
         opacity:0
     }

     to{
         right:0;
         opacity:1
     }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.grow {
    height: 50px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}

.grow:hover {
    height: 210px;
}

.slide-in {
    backface-visibility: hidden;
}

.animate-up {
    position: relative;
    animation: animateUp 2s, 5s;
}

@keyframes animateUp {
    0% {
        top: -200%;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

.grow-left {
    margin: 10px;
    padding: 55px;
    width: 150px;
    height: 150px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    overflow: hidden;
    flex-grow: 1;
}

@media screen and (min-width: 1370px) {
    .grow-left:hover {
        width: 700px;
    }

    .grow-left:hover .hidden-child{
        display: flex;
        opacity: 1;
        transition: .4s;
    }
}

.hidden-child {
    opacity: 0;
    display: none;
}

a { color: inherit; }
a:hover { color: inherit; }

.isometric-square {
    transform: rotateX(60deg) rotateZ(-45deg);
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.square-container {
    position: relative;
    margin-right: 200px;
}

.text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
}


