.slide-in {
    backface-visibility: hidden;
}

.animate-left {
    position: relative;
    animation: animateLeft 1s;
}

@keyframes animateLeft {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.animate-right {
    position:relative;
    animation:animateRight 1s
}

@keyframes animateRight{
     from{
         right:-300px;
         opacity:0
     }

     to{
         right:0;
         opacity:1
     }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.grow {
    height: 60px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}
.grow:hover {
    height: 85px;
}
